#Hbase connection setting
hbase.zookeeper.quorum=
hbase.zookeeper.property.clientPort=
zookeeper.znode.parent=

#test suite setting
testTableName=QPSTest
autoCreateTable=true
numberOfTest=5
numberOfInsert=10000
batchMode=true
batchSize=2000
cleanTableBeforeTest=false
cleanTableAfterTest=false
preCreateRegion=false
numberOfRegions=8
writeWAL=true
autoFlush=true
